<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p class="text-justify">
          So this is my web page. If you like it please, contact me filling the
          contact form from above, or on social media profiles linked on bottom
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a (click)="toHome()">Home</a></li>
          <li><a (click)="toAbout()">About</a></li>
          <li><a (click)="toResume()">Resume</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved</p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a
              class="facebook"
              href="https://www.facebook.com/cristian.toma.90"
              target="_blank"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a
              class="twitter"
              href="https://twitter.com/TomaCristian2"
              target="_blank"
              ><i class="fa fa-twitter"></i
            ></a>
          </li>
          <li>
            <a
              class="github"
              href="https://github.com/tcristian87"
              target="_blank"
              ><i class="fa fa-github"></i
            ></a>
          </li>
          <li>
            <a
              class="linkedin"
              href="https://www.linkedin.com/in/toma-cristian-ioan/"
              target="_blank"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
