<mat-nav-list>
  <a mat-list-item (click)="onSidenavClose()" (click)="toHome()">
    <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item (click)="onSidenavClose()" (click)="toAbout()">
    <span class="nav-caption">About</span>
  </a>
  <a mat-list-item (click)="onSidenavClose()" (click)="toResume()">
    <span class="nav-caption">Resume</span>
  </a>

  <a mat-list-item (click)="onSidenavClose()" (click)="toContact()">
    <span class="nav-caption">Contact</span>
  </a>
</mat-nav-list>
