a {
    text-decoration: none;  
}

a:hover, a:active{
    color: gray;
}

.navigation-items{
    list-style-type: none;
}

mat-toolbar{
    border-radius: 3px;
    position: absolute; 
    z-index: 5; 
    background: none;
}

@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
        position: fixed;
    }
}
ul li{
    right: 30px;
}

/* arrow css */

.arrow,
.arrow2,
.arrow2:before,
.arrow:before {
    position: fixed; 
}

.arrow {
  right: 10%;
  bottom: 10%;
  width: 40px;
  height: 40px;
  transform: rotate(225deg);
  border-left: 5px #ED1D7A solid;
  border-top: 5px #ED1D7A solid;
  border-right: none;
  border-bottom: none;
  background: none;
  transition: all 0.5s linear;
}


 .arrow2 {
  right: 10%;
  bottom: 10%;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  border-left: 5px #ED1D7A solid;
  border-top: 5px #ED1D7A solid;
  border-right: none;
  border-bottom: none;
  background: none;
  transition: all 0.5s linear;
} 

.arrow:before,
.arrow2::before {
  content: "";
  width: 20px;
  height: 20px;
  margin: auto;
  border-left: 3px #ED1D7A solid;
  border-top: 3px #ED1D7A solid;
  border-right: none;
  border-bottom: none;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-20px, -20px);
  }
}
