.home-weather-content {
  height: 100vh;
  color: white;
  background-image: url("1947484.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom, left top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.weather-content2 {
  display: none;
}
.weather-content {
  padding: 50px;
}

h1 {
  font-size: 54px;
}
.align-weather-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* @media (max-width: 600px) {
  .tw .h1{
    font-size: 1rem;
  }
  .align-weather-home {
    font-size: 2rem;
  }
} */
/* @media (max-height: 600px) {
  .align-weather-home {
    font-size: 1rem;
  }
  .tw .h1{
    font-size: 1rem;
  }
} */
