.title {
    color: #fff;
    font-size: 54px;
}
@media(max-width: 600px) {
    .title {
        font-size: 2rem
    }
}
.about-content {
    height: 100vh;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-align-content {
    margin-left: 10%;
    padding-top: 3%;
}
.about-text-content{
    font-size: 24px;
    width: 60%;
    height: 20%;
    line-height: 2;
}
@media (max-width: 700px) {
    .about-text-content{
        color:rgb(2, 169, 234);
        font-size: 1rem;
        font-weight: bold;
    }
    
}
.backgorund-image {
    background-image: url("do something great.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.tw::after{
  content: " ";
  white-space: pre;
}

