.title {
  color: #fff;
  font-size: 54px;
}

.about-content {
  height: 100vh;
  min-height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom, left top;
  background-image: url("about.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-align-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  padding-top: 3%;
}

.about-text-content {
  height: 100%;
  width: 50%;
  font-size: 24px;
  line-height: 2;

}
@media (max-width: 893px) {
  .title {
    font-size: 3em;
  }
  .about-text-content {
    font-size: 1rem;
    width: 90%;
  }
}

