<div class="about-content backgorund-image" id="about">
  <div class="about-align-content">
    <h1 class="title">About Me</h1>
    <div class="about-text-content">
      <p>
        As you have seen above, my name is Cristian Toma, I`m from Romania Targu
        Mures, I have a passion for IT since I was a child, and now I have
        decided to pursue my passion. At begining I started learning how to
        write code on my own, from some courses from internet, and after that i
        have followed a cours for Java Developer, at Scoala Informala de IT.
      </p>
      <br />
      <p>
        Below is a section where I present some homeworks that shows the
        progress I have made at SIT, as well as a section with my resume
      </p>
    </div>
  </div>
</div>
