<div class="contact-position" id="contact">
  <div class="wrapper-box">
    <div class="container">
      <h2 class="text-center mb-5">Contact Me</h2>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form
            (ngSubmit)="submitForm()"
            #contactForm="ngForm"
            action="https://formsubmit.co/a6748cd73b7117e28617c38996610257"
            method="POST"
          >
            <div class="form-group">
              <label for="Email">Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                aria-describedby="emailHelp"
                [(ngModel)]="email"
                #emailInput="ngModel"
                required
                email
              />
              <div
                class="help is-error mb-4"
                *ngIf="emailInput.invalid && emailInput.touched"
              >
                You need to provide a valid email adress!
              </div>
              <div class="form-group">
                <label for="fullname">Full Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  [(ngModel)]="name"
                  #nameInput="ngModel"
                  required
                />
                <div
                  class="help is-error mb-4"
                  *ngIf="nameInput.invalid && nameInput.touched"
                >
                  Your name is required
                </div>
              </div>
              <div class="form-group">
                <label for="comment">Contact Text</label>
                <textarea
                  class="form-control"
                  name="comment"
                  [(ngModel)]="comment"
                  placeholder="Enter your text here"
                  rows="5"
                  required
                ></textarea>
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!contactForm.valid"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
