<div class="resume-content" id="resume">
  <div class="title">
    <h1>Experience</h1>
  </div>
  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Work progressions/Personal projects">
      <div class="experience-content">
        <div class="row marquee">
          <div class="marquee-content">
            <div class="row">
              <div class="example-2 card card1-img card1">
                <div class="wrapper">
                  <div class="data">
                    <div class="content">
                      <span class="author">Plain Java Script</span>
                      <h1 class="title">
                        <a
                          href="https://tcristian87.github.io/Weather-App-Plain-JS/"
                          target="_blank"
                          >Weather App</a
                        >
                      </h1>
                      <p class="text">
                        This is a weather app, made by me at SIIT. It is written
                        in Plain Javascript with CSS and HTML
                      </p>
                      <a
                        href="https://tcristian87.github.io/Weather-App-Plain-JS/"
                        target="_blank"
                        class="button"
                        >Navigate to project</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="example-2 card card2-img">
                <div class="wrapper">
                  <div class="data">
                    <div class="content card2">
                      <span class="author">Java Script/JQuery</span>
                      <h1 class="title">
                        <a
                          href="https://tcristian87.github.io/actor-list-jquery/"
                          target="_blank"
                          >Actors List</a
                        >
                      </h1>
                      <p class="text">
                        This is a app that allow you to make a list of favorite
                        actors, written whit JQuery
                      </p>
                      <a
                        href="https://tcristian87.github.io/actor-list-jquery/"
                        target="_blank"
                        class="button"
                        >Navigate to project</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="example-2 card card3-img">
                <div class="wrapper">
                  <div class="data">
                    <div class="content">
                      <span class="author">Java Script</span>
                      <h1 class="title">
                        <a
                          href="https://tcristian87.github.io/Rock-Scrissors-Paper/"
                          target="_blank"
                          >Rock Scrissors Paper Game</a
                        >
                      </h1>
                      <p class="text">
                        This is my Rock Scrissors Paper Games made as homework
                        for SIT
                      </p>
                      <a
                        href="https://tcristian87.github.io/Rock-Scrissors-Paper/"
                        target="_blank"
                        class="button"
                        >Read more</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="example-2 card card4-img">
                <div class="wrapper">
                  <div class="data">
                    <div class="content">
                      <span class="author">Angular</span>
                      <h1 class="title"><a href="#">To do list</a></h1>
                      <p class="text">
                        The antsy bingers of Netflix will eagerly anticipate the
                        digital release of the Survive soundtrack, out today.
                      </p>
                      <a href="#" class="button">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="example-2 card card5-img">
                <div class="wrapper">
                  <div class="data">
                    <div class="content">
                      <span class="author">Plain Java Script</span>
                      <h1 class="title"><a href="#">To do list</a></h1>
                      <p class="text">
                        The antsy bingers of Netflix will eagerly anticipate the
                        digital release of the Survive soundtrack, out today.
                      </p>
                      <a href="#" class="button">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="example-2 card card6-img">
                <div class="wrapper">
                  <div class="data">
                    <div class="content">
                      <span class="author">Angular</span>
                      <h1 class="title"><a href="#">To do list</a></h1>
                      <p class="text">
                        The antsy bingers of Netflix will eagerly anticipate the
                        digital release of the Survive soundtrack, out today.
                      </p>
                      <a href="#" class="button">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="example-2 card card1-img">
                <div class="wrapper">
                  <div class="data">
                    <div class="content">
                      <span class="author">Plain Java Script</span>
                      <h1 class="title">
                        <a
                          href="https://tcristian87.github.io/Weather-App-Plain-JS/"
                          target="_blank"
                          >Weather App</a
                        >
                      </h1>
                      <p class="text">
                        This is a weather app, made by me at SIIT. It is written
                        in Plain Javascript with CSS and HTML
                      </p>
                      <a
                        href="https://tcristian87.github.io/Weather-App-Plain-JS/"
                        target="_blank"
                        class="button"
                        >Navigate to project</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="example-2 card card2-img">
                <div class="wrapper">
                  <div class="data">
                    <div class="content">
                      <span class="author">Plain Java Script</span>
                      <h1 class="title"><a href="#">To do list</a></h1>
                      <p class="text">
                        The antsy bingers of Netflix will eagerly anticipate the
                        digital release of the Survive soundtrack, out today.
                      </p>
                      <a href="#" class="button">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="example-2 card card3-img">
                <div class="wrapper">
                  <div class="data">
                    <div class="content">
                      <span class="author">Angular</span>
                      <h1 class="title"><a href="#">To do list</a></h1>
                      <p class="text">
                        The antsy bingers of Netflix will eagerly anticipate the
                        digital release of the Survive soundtrack, out today.
                      </p>
                      <a href="#" class="button">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Resume">
      <div class="resume-content2">
        <section class="resume-cards" appHorizontalscroll>
          <div class="fixed-card">
            <img src="../../assets/poza.png" alt="Personal Picture" />
            <h3>Cristian Toma</h3>
            <div class="social-icons">
              Targu Mures<br />
              <a
                class="github"
                href="https://github.com/tcristian87"
                target="_blank"
                ><i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="resume-cards-width first-card">
            <h3>Personal Profile</h3>
            <p> I am a former legal advisor, who wants to make a professional reconversion, in the field of IT, programming, Front End Developer, Web Developer. Former student at Scoala Informala IT.</p>
          </div>
          <div class="resume-cards-width">
            <h3>Studies</h3>
            <h5>Student at Scoala Informala de IT</h5>
            <h5>Period | Aug - Dec 2021</h5>
            <ul>
              <li>HTML CSS JavaScript, JavaScript Advanced</li>
              <li>Angular, ReactJs</li>
              <li>ExpressJs</li>
            </ul>
          </div>
          <div class="resume-cards-width">
            <h3>Legal Advisor</h3>
            <h5>Period | July 2016 - May 2021</h5>
            <ul>
              <li>Office work whit legal papers, specific to the field</li>
              <li>Collaborated with clients</li>
              <li>Preparation of documents, support for the bailiff</li>
            </ul>
          </div>
          <div class="resume-cards-width">
            <h3>Educational History</h3>
            <h5>University Dimitrie Cantemir</h5>
            <h5>Law School | 2010 - 2021</h5>
            <ul>
              <li>Specific subjects, Civil Law, Criminal Law, Procedures</li>
            </ul>
          </div>

        </section>
        <div class="flex-wrapper">
          <div class="single-chart">
            <h5>HTML</h5>
            <svg viewBox="0 0 36 36" class="circular-chart blue">
              <path
                class="circle-bg"
                d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <path
                class="circle"
                stroke-dasharray="50, 100"
                d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <text x="18" y="20.35" class="percentage">70%</text>
            </svg>
          </div>
          <div class="single-chart">
            <h5>CSS</h5>
            <svg viewBox="0 0 36 36" class="circular-chart blue">
              <path
                class="circle-bg"
                d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <path
                class="circle"
                stroke-dasharray="50, 100"
                d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <text x="18" y="20.35" class="percentage">70%</text>
            </svg>
          </div>
          <div class="single-chart">
            <h5>JavaScript</h5>
            <svg viewBox="0 0 36 36" class="circular-chart blue">
              <path
                class="circle-bg"
                d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <path
                class="circle"
                stroke-dasharray="50, 100"
                d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <text x="18" y="20.35" class="percentage">50%</text>
            </svg>
          </div>
          <div class="single-chart">
            <h5>Angular</h5>
            <svg viewBox="0 0 36 36" class="circular-chart blue">
              <path
                class="circle-bg"
                d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <path
                class="circle"
                stroke-dasharray="50, 100"
                d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <text x="18" y="20.35" class="percentage">40%</text>
            </svg>
          </div>
          <div class="single-chart">
            <h5>React</h5>
            <svg viewBox="0 0 36 36" class="circular-chart blue">
              <path
                class="circle-bg"
                d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <path
                class="circle"
                stroke-dasharray="50, 100"
                d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <text x="18" y="20.35" class="percentage">10%</text>
            </svg>
          </div>
          <div class="single-chart">
            <h5>ExpressJs</h5>
            <svg viewBox="0 0 36 36" class="circular-chart blue">
              <path
                class="circle-bg"
                d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <path
                class="circle"
                stroke-dasharray="10, 100"
                d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <text x="18" y="20.35" class="percentage">10%</text>
            </svg>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
