.title {
  font-size: 54px;
  margin-left: 10%;
}

.experience-content {
  height: 100vh;
  width: 60vw;
}

.resume-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  width: 60vw;
}
  .resume-content2 {
    display: flex;
    justify-content:center;
    height: 100%;
 
  }
  .edit-button {
   display:flex;
   justify-content: flex-end;
  }
  .resume-right-side {
    width: 70%;
  }
  .resume-left-side {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 40%;
    background-color: #1A5389;
    color: white;
  }

  h3{
    color: #396EB0;
  }

  .radio-input td{
    padding: 10px;
  }

  .image {
    padding-top: 50px;
    
}
img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.resume-right-side {
  display: flex; 
  justify-content:flex-start;
  flex-direction: column;
}
div.resume-right-side {
  padding: 10%; 
}
.box {
  margin-bottom: 50px;
}
a {
  text-decoration: none;
  color: white
}