<div class="resume-content" id="resume">
  <div class="title">
    <h1>Experience</h1>
  </div>
  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Personal projects/Work progressions">
      <div class="experience-content">
        <div class="row marquee">
          <div class="marquee-content">
            <div class="row">
          <div class="example-2 card card1-img">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <span class="author">Plain Java Script</span>
                  <h1 class="title"><a href="https://tcristian87.github.io/Weather-App-Plain-JS/" target ="_blank">Weather App</a></h1>
                  <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
                  <a href="https://tcristian87.github.io/Weather-App-Plain-JS/"  target="_blank" class="button">Navigate to project</a>
                </div>
              </div>
            </div>
          </div>
          <div class="example-2 card card2-img">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <span class="author">Plain Java Script</span>
                  <h1 class="title"><a href="#">To do list</a></h1>
                  <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
                  <a href="#" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="example-2 card card2-img">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <span class="author">Angular</span>
                  <h1 class="title"><a href="#">To do list</a></h1>
                  <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
                  <a href="#" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="example-2 card card2-img">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <span class="author">Angular</span>
                  <h1 class="title"><a href="#">To do list</a></h1>
                  <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
                  <a href="#" class="button">Read more</a>
                </div>
              </div>
            </div>
          
          </div>
          <div class="example-2 card card2-img">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <span class="author">Plain Java Script</span>
                  <h1 class="title"><a href="#">To do list</a></h1>
                  <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
                  <a href="#" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="example-2 card card2-img">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <span class="author">Angular</span>
                  <h1 class="title"><a href="#">To do list</a></h1>
                  <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
                  <a href="#" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="example-2 card card1-img">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <span class="author">Plain Java Script</span>
                  <h1 class="title"><a href="https://tcristian87.github.io/Weather-App-Plain-JS/" target ="_blank">Weather App</a></h1>
                  <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
                  <a href="https://tcristian87.github.io/Weather-App-Plain-JS/"  target="_blank" class="button">Navigate to project</a>
                </div>
              </div>
            </div>
          </div>
          <div class="example-2 card card2-img">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <span class="author">Plain Java Script</span>
                  <h1 class="title"><a href="#">To do list</a></h1>
                  <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
                  <a href="#" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="example-2 card card2-img">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <span class="author">Angular</span>
                  <h1 class="title"><a href="#">To do list</a></h1>
                  <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
                  <a href="#" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

          </div>
          </div>

        </div>
      </div>
    </mat-tab>

    <mat-tab label="RESUME">
      <div class="resume-content2">
        <div class="resume-left-side">
          <div class="image">
            <img class="resume-img" src="../../assets/poza.png" alt="poza" />
          </div>
          <div class="resume-content-left">
            <h2>Contact Data</h2>
            <br />
            Targu Mures<br />
            <a>i.toma_cristian@yahoo.com</a><br />
            <a href="https://github.com/tcristian87" target="_blank"
              >GitHub Profile</a
            ><br />
            <a
              href="https://www.linkedin.com/in/toma-cristian-ioan/"
              target="_blank"
              >Linkedin Profile</a
            ><br />
          </div>
          <div class="skills-content">
            <table>
              <tr>
                <td>HTML</td>
                <div class="radio-input" value="">
                  <td>
                    <input type="radio" value="" />
                  </td>
                  <td>
                    <input type="radio" value="" />
                  </td>
                  <td>
                    <input type="radio" value="" />
                  </td>
                  <td>
                    <input type="radio" value="" />
                  </td>
                </div>
              </tr>
              <td>CSS</td>
              <div class="radio-input">
                <td>
                  <input type="radio" />
                </td>
                <td>
                  <input type="radio" />
                </td>
                <td>
                  <input type="radio" />
                </td>
                <td>
                  <input type="radio" />
                </td>
              </div>
              <tr>
                <td>JavaScript</td>
                <div class="radio-input">
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                </div>
              </tr>
              <tr>
                <td>Angular</td>
                <div class="radio-input">
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                </div>
              </tr>
              <tr>
                <td>React</td>
                <div class="radio-input">
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                </div>
              </tr>
              <tr>
                <td>ExpressJS NodeJS</td>
                <div class="radio-input">
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                </div>
              </tr>
            </table>
          </div>
        </div>
        <div class="resume-right-side">
          <h1 style="font-weight: bold; color: #2f3a8f">Toma Cristian</h1>
          <hr width="30%" />
          <h2 style="color: #2f3a8f">Junior Front End Web Developer</h2>

          <div class="personal-profile box">
            <h3>Personal Profile</h3>
            <p *ngFor="let resume of resume">{{ resume.body }}</p>
          </div>
          <div class="work-experience box">
            <h3>Work Experience</h3>
            <h4>Student at Scoala Informala de IT</h4>
            <h4>Period | Aug - Dec 2021</h4>
            <ul>
              <li>HTML CSS JavaScript, JavaScript Advanced</li>
              <li>Angular, ReactJs</li>
              <li>ExpressJs</li>
            </ul>
            <h4>Legal Advisor</h4>
            <h4>Period | July 2016 - May 2021</h4>
            <ul>
              <li>Office work whit legal papers, specific to the field</li>
              <li>Collaborated with clients</li>
              <li>Preparation of documents, support for the bailiff</li>
            </ul>
          </div>

          <div class="education-history box">
            <h3>Educational History</h3>
            <h4>University Dimitrie Cantemir</h4>
            <h4>Law School | 2010 - 2021</h4>
            <ul>
              <li>Specific subjects, Civil Law, Criminal Law, Procedures</li>
            </ul>
          </div>
      </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
